To print the  prime number using loop

In [1]:
A=1

In [2]:
B=200

In [13]:
for num in range(A,B+1):
  if num > 1:
    for i in range(2,num):
      if (num % i) == 0:
        break
    else:
          print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199